*{
    box-sizing: border-box;
    cursor:url(./pointer.png), auto;
}

body{
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7FC6B8;
}

p{
    font-family: 'Silkscreen';
}

#appearing-name{
    font-size: 5rem;
    color: #E8A87C;
    text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd, 5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4, 8px 7px 0px #5dabcd;
    background: #FAC2C1;
    margin-bottom: 10px;
}

#software-developer{
    background-color: black;
    font-size: 1.5rem;
    color: yellow;
}

main{
    min-width: 500px;
}

#menu-list{
    border: solid 1px rgb(241, 11, 211);
    list-style-type: none;
    padding: 0px;
}

.list{
    border: solid 1px rgb(0, 241, 93);
    display: flex;
    align-items: center;
}

.arrow-image{
    border: solid 1px gold;
    width: 48px;
    height: 48px;
    position: relative;
    left: -85px;
}

.text-menu-animation{
    animation: color-change 1s infinite;
    font-size: 1.5rem;
}

@keyframes color-change {
    0% { color: rgb(0, 0, 0); }
    50% { color: rgb(0, 138, 148); }
    100% { color: rgb(0, 0, 0); }
  }


  .rounded{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 50%;
  }
  
  .pointed{
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
  }